<tr>
  <td
    class="main-block__container"
    style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6"
  >
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p>
            You have purchased a discounted subscription and have been
            automatically entered in our promotional raffle where you can win an
            Apple iPhone 15 Pro Max 256GB, Sony PlayStation 5, AirPods Pro, and
            other valuable prizes!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p>
            Whenever you purchase a long-term subscription (for 3, 6, or 12
            months) during the promotional period, we automatically grant you
            the corresponding number of winning chances for the raffle:
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p>3 months = 3 chances;</p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p>6 months = 6 chances;</p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p>12 months = 12 chances.</p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p>
            Additionally, you can increase your winning chances by fulfilling
            conditions from our partners. 
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="text-decoration: underline"
          >
            Read the details here and good luck!
          </a>
        </td>
      </tr>
      <!-- End Text section -->
    </table>
  </td>
</tr>
